#amazon-product-info-ext {
  position: relative;
  background: #c7d8ee;
  text-align: center;
  padding: 10px;
  z-index: 99;
}

#amazon-product-info-ext abbr {
  border-bottom: dotted 1px #111;
  cursor: help;
}

#amazon-product-info-ext abbr:hover {
  border-bottom: solid 1px #111;
}

#amazon-product-info-ext .hi {
  font-weight: bold;
  color: #035f38;
}

#amazon-product-info-ext .authors a:after {
  content: ', ';
}

#amazon-product-info-ext .authors a:last-child:after {
  content: '';
}

#amazon-product-info-ext ul.zg_hrsr,
#amazon-product-info-ext .authorRank {
  color: #111;
  margin-top: 5px;
  font-size: 11px;
  line-height: 1.1;
}

#amazon-product-info-ext ul.zg_hrsr li,
#amazon-product-info-ext .authorRank li {
  list-style-type: none;
}

#amazon-product-info-ext ul.zg_hrsr b,
#amazon-product-info-ext .authorRank b {
  font-weight: normal;
}

#amazon-product-info-ext .authorRank {
  margin-bottom: 5px;
}

#amazon-product-info-ext .cat-table {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#amazon-product-info-ext .cat-table .cat-table-cell {
  padding-left: 10px;
}

#amazon-product-info-ext .expand {
  font-size: 11px;
}
