#amazon-product-info-ext
  position: relative
  background: #C7D8EE
  text-align: center
  padding: 10px
  z-index: 99

  .hi
    font-weight: bold
    color: #035F38

  ul.zg_hrsr
    color: #111
    margin-top: 5px
    font-size: 11px
    line-height: 1.1
    li
      list-style-type: none
